 p {

    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

h1 {
    font: roboto-condensed;
    font-size: 24px
    line-height: normal;
}

h2 {
    font: roboto-condensed;
    font-size: 22px
    line-height: normal;
}

@media only screen and (min-width: 600px) {
class.chapter {
   max-width: 75vw;
  min-width: 900px max-width: 50vw
}
@media only screen and (min-width: 900px)
class.chapter {
   max-width: 50vw;
 }
}
article {
  height: 75vh;
  background-image: ("jane.jpg");
}
